WcfProxy/Service References/Service/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8091/wcf/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="WebContextData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CookiesIn" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CookiesOut" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebContextData" nillable="true" type="tns:WebContextData" />
  <xs:complexType name="GetItemsV1">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Items" nillable="true" type="q3:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetItemsV1" nillable="true" type="tns:GetItemsV1" />
  <xs:complexType name="Base">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:WebContextData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Base" nillable="true" type="tns:Base" />
  <xs:complexType name="GetPagesV1">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Items" nillable="true" type="q4:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPagesV1" nillable="true" type="tns:GetPagesV1" />
</xs:schema>