WcfProxy/Service References/Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8091/wcf/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8091/wcf/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8091/wcf/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared" />
      <xsd:import schemaLocation="http://localhost:8091/wcf/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_WhiteBoardV2SaveChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV2SaveChanges" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV2SaveChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV2SaveChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV2GetSavedSquares_InputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV2GetSavedSquares" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV2GetSavedSquares_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV2GetSavedSquaresResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV2GetSquares_InputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV2GetSquares" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV2GetSquares_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV2GetSquaresResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV2DeleteSquare_InputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV2DeleteSquare" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV2DeleteSquare_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV2DeleteSquareResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV2UpdateSquare_InputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV2UpdateSquare" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV2UpdateSquare_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV2UpdateSquareResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV2InsertSquare_InputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV2InsertSquare" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV2InsertSquare_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV2InsertSquareResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV2GetPages_InputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV2GetPages" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV2GetPages_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV2GetPagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV1AddItem_InputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV1AddItem" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV1AddItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV1AddItemResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV1GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV1GetItems" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV1GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV1GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV1GetPages_InputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV1GetPages" />
  </wsdl:message>
  <wsdl:message name="IService_WhiteBoardV1GetPages_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhiteBoardV1GetPagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ShouldSendNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:ShouldSendNotification" />
  </wsdl:message>
  <wsdl:message name="IService_ShouldSendNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShouldSendNotificationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="WhiteBoardV2SaveChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WhiteBoardV2SaveChanges" message="tns:IService_WhiteBoardV2SaveChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WhiteBoardV2SaveChangesResponse" message="tns:IService_WhiteBoardV2SaveChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV2GetSavedSquares">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WhiteBoardV2GetSavedSquares" message="tns:IService_WhiteBoardV2GetSavedSquares_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WhiteBoardV2GetSavedSquaresResponse" message="tns:IService_WhiteBoardV2GetSavedSquares_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV2GetSquares">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WhiteBoardV2GetSquares" message="tns:IService_WhiteBoardV2GetSquares_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WhiteBoardV2GetSquaresResponse" message="tns:IService_WhiteBoardV2GetSquares_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV2DeleteSquare">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WhiteBoardV2DeleteSquare" message="tns:IService_WhiteBoardV2DeleteSquare_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WhiteBoardV2DeleteSquareResponse" message="tns:IService_WhiteBoardV2DeleteSquare_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV2UpdateSquare">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WhiteBoardV2UpdateSquare" message="tns:IService_WhiteBoardV2UpdateSquare_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WhiteBoardV2UpdateSquareResponse" message="tns:IService_WhiteBoardV2UpdateSquare_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV2InsertSquare">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WhiteBoardV2InsertSquare" message="tns:IService_WhiteBoardV2InsertSquare_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WhiteBoardV2InsertSquareResponse" message="tns:IService_WhiteBoardV2InsertSquare_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV2GetPages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WhiteBoardV2GetPages" message="tns:IService_WhiteBoardV2GetPages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WhiteBoardV2GetPagesResponse" message="tns:IService_WhiteBoardV2GetPages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV1AddItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WhiteBoardV1AddItem" message="tns:IService_WhiteBoardV1AddItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WhiteBoardV1AddItemResponse" message="tns:IService_WhiteBoardV1AddItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV1GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WhiteBoardV1GetItems" message="tns:IService_WhiteBoardV1GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WhiteBoardV1GetItemsResponse" message="tns:IService_WhiteBoardV1GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV1GetPages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WhiteBoardV1GetPages" message="tns:IService_WhiteBoardV1GetPages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WhiteBoardV1GetPagesResponse" message="tns:IService_WhiteBoardV1GetPages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Login" message="tns:IService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginResponse" message="tns:IService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Logout" message="tns:IService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LogoutResponse" message="tns:IService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShouldSendNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ShouldSendNotification" message="tns:IService_ShouldSendNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ShouldSendNotificationResponse" message="tns:IService_ShouldSendNotification_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WhiteBoardV2SaveChanges">
      <soap:operation soapAction="http://tempuri.org/IService/WhiteBoardV2SaveChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV2GetSavedSquares">
      <soap:operation soapAction="http://tempuri.org/IService/WhiteBoardV2GetSavedSquares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV2GetSquares">
      <soap:operation soapAction="http://tempuri.org/IService/WhiteBoardV2GetSquares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV2DeleteSquare">
      <soap:operation soapAction="http://tempuri.org/IService/WhiteBoardV2DeleteSquare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV2UpdateSquare">
      <soap:operation soapAction="http://tempuri.org/IService/WhiteBoardV2UpdateSquare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV2InsertSquare">
      <soap:operation soapAction="http://tempuri.org/IService/WhiteBoardV2InsertSquare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV2GetPages">
      <soap:operation soapAction="http://tempuri.org/IService/WhiteBoardV2GetPages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV1AddItem">
      <soap:operation soapAction="http://tempuri.org/IService/WhiteBoardV1AddItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV1GetItems">
      <soap:operation soapAction="http://tempuri.org/IService/WhiteBoardV1GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhiteBoardV1GetPages">
      <soap:operation soapAction="http://tempuri.org/IService/WhiteBoardV1GetPages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShouldSendNotification">
      <soap:operation soapAction="http://tempuri.org/IService/ShouldSendNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8091/wcf/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>